.signUpForm {
    padding: 10px;
    width: 40%;
    float: right;
}

.email {
    background-color: red;
}

.password {
    background-color: black;
}

.confirm_password {
    background-color: yellow;
}

.submit_btn {
    background-color: purple;
}